/* _content/Elearn/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*[b-aglwpl0kno] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root[b-aglwpl0kno] {
    --green: #b170e6;
    --primary-bg-color: #ffffff; /* White background */
    --primary-text-color: #333333; /* Dark grey text */
    --accent-color: #333333; /* Dark grey accent color */
    --button-bg-color: #333333; /* Dark grey button */
    --secondary-light: #ffffff; /* White button text */
    --button-hover-bg-color: #444444; /* Lighter grey on hover */
}

body[b-aglwpl0kno] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
}

a[b-aglwpl0kno] {
    text-decoration: none;
}

    a:hover[b-aglwpl0kno] {
        text-decoration: none;
    }

.container[b-aglwpl0kno] {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: var(--primary-bg-color);
}

.side-bar[b-aglwpl0kno] {
    position: fixed;
    height: 100%;
    width: 19.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-light);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1), 0 0px 0px;
}

    .side-bar .header[b-aglwpl0kno] {
        padding: 35px 24px 0;
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 18px;
        padding-right: 10px;
    }

        .side-bar .header i[b-aglwpl0kno] {
            margin-right: 7px;
        }

    .side-bar .nav[b-aglwpl0kno] {
        padding: 0px 0;
    }

.nav .chapter[b-aglwpl0kno] {
    margin: 8px 0px -15px;
    padding: 15px 5px;
    font-size: 17px;
    font-weight: 500;
}

.chapter a[b-aglwpl0kno] {
    padding: 10px 15px;
    padding-left: 30px;
    width: 100%;
    color: var(--button-hover-bg-color);
    transform: 0.5 ease;
    border-radius: 80px;
    transition: background-color 0.3s ease;
}

.chapter:hover[b-aglwpl0kno] {
    background-color: var(--accent-color);
    a

{
    color: var(--secondary-light);
}

}

.chapter i[b-aglwpl0kno] {
    margin-right: 5px;
}

.nested1[b-aglwpl0kno], .nested2[b-aglwpl0kno] {
    padding: 5px 0 0px 40px;
    width: 80%;
}

    .nested1 li[b-aglwpl0kno], .nested2 li[b-aglwpl0kno] {
        margin: 10px;
        padding: 5px;
        border-radius: 6px;
        transition: background-color 0.3s ease;
    }

        .nested1 li:hover[b-aglwpl0kno], .nested2 li:hover[b-aglwpl0kno] {
            background-color: #cccbcba9;
        }

    .nested1 a[b-aglwpl0kno], .nested2 a[b-aglwpl0kno] {
        width: 100%;
        color: #494949;
        transform: 0.5 ease;
        font-size: 16px;
        padding: 16px;
        transition: background-color 0.3s ease;
    }

.header-container ul[b-aglwpl0kno] {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    padding: 12px 30px;
    flex-direction: row;
    width: 78%;
    height: 50px;
    margin: 10px 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    right: 15px;
}

.nested1[b-aglwpl0kno], .nested2[b-aglwpl0kno] {
    display: block;
}

.profile[b-aglwpl0kno] {
    padding: 15px 30px;
    border-radius: 2px;
    font-size: 14px;
    width: 100%;
    color: #7b2bbd;
    border-top: 1px solid #4444441f;
}

    .profile i[b-aglwpl0kno] {
        margin-right: 12px;
    }

.logo[b-aglwpl0kno] {
    font-size: 15px;
    color: var(--green);
}

    .logo i[b-aglwpl0kno] {
        font-size: 25px;
        margin-right: 8px;
        margin-bottom: -2px;
    }

.title[b-aglwpl0kno] {
    padding: 10px 2px 10px;
    font-weight: 600;
}

.logout[b-aglwpl0kno] {
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding: 0 5px;
    color: #494949;
    /*border: 1px solid #006cf8;*/
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px;
    transition: color 0.5s ease;
}

    .logout:hover[b-aglwpl0kno] {
        background-color: #b170e6;
        color: #fff;
    }

.content[b-aglwpl0kno] {
    height: 87%;
    width: 70%;
    padding: 20px;
    margin: 80px 30px 30px 100px;
}

    .content .container[b-aglwpl0kno] {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: -40px;
    }

        .content .container .header[b-aglwpl0kno] {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }

    .content .video[b-aglwpl0kno] {
        padding: 0 10px;
        width: calc(100% - 20px);
        margin: auto;
        border: 2px solid black;
        height: 300px;
    }

    .content .description[b-aglwpl0kno] {
        width: 80%;
        color: #444444;
        font-size: 15px;
        font-weight: 100;
        padding: 0 12px;
    }

    .content .move[b-aglwpl0kno] {
        display: flex;
        justify-content: space-between;
        padding: 2px 25px 0;
        margin-bottom: 5px;
    }

    .content button[b-aglwpl0kno] {
        padding: 10px 15px;
        background-color: transparent;
        border: 1px solid var(--button-bg-color);
        border-radius: 5px;
        width: 100px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 540;
        color: var(--button-bg-color);
        transition: background-color 0.3s ease;
    }

.move button:hover[b-aglwpl0kno] {
    color: white;
    background-color: var(--button-bg-color);
    font-weight: 600;
}

.content .header button[b-aglwpl0kno] {
    color: var(--green);
    border: 1px solid var(--green);
}

    .content .header button:hover[b-aglwpl0kno] {
        color: white;
        background-color: var(--green);
        font-weight: 600;
    }
