@page
@model Elearn.Pages.Course.Chapter1Module3Model
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>Course</title>
    <!-- Lien vers une feuille de style CSS externe -->
    <link rel="stylesheet" href="~/Course/PageCours.css">
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    :root {
        --green: #08b2dd;
        --primary-bg-color: #ffffff; /* White background */
        --primary-text-color: #333333; /* Dark grey text */
        --accent-color: #333333; /* Dark grey accent color */
        --button-bg-color: #333333; /* Dark grey button */
        --secondary-light: #ffffff; /* White button text */
        --button-hover-bg-color: #444444; /* Lighter grey on hover */
    }

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: var(--primary-text-color);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: left;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: none;
        }

    .container {
        display: flex-inline;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        background-color: var(--primary-bg-color);
    }

    .side-bar {
        position: fixed;
        height: 100%;
        width: 19.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--primary-light);
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1), 0 0px 0px;
    }

        .side-bar .header {
            padding: 35px 24px 0;
            margin-bottom: 35px;
            font-weight: 700;
            font-size: 18px;
            padding-right: 10px;
        }

            .side-bar .header i {
                margin-right: 7px;
            }

        .side-bar .nav {
            padding: 0px 0;
        }

    .nav .chapter {
        margin: 8px 0px -10px;
        padding: 10px 5px;
        font-size: 17px;
        border-radius: 0px 60px 60px 0px;
    }

    .chapter a {
        padding: 10px 15px;
        padding-left: 30px;
        width: 100%;
        color: var(--button-hover-bg-color);
        transform: 0.5 ease;
        border-radius: 80px;
        transition: background-color 0.3s ease;
    }

    .chapter:hover {
        background-color: var(--accent-color);
        a

    {
        color: var(--secondary-light);
    }

    }

    .chapter i {
        margin-right: 5px;
    }

    .nested1, .nested2 {
        padding: 5px 0 0px 40px;
        width: 80%;
    }

        .nested1 li, .nested2 li {
            margin: 10px;
            padding: 5px;
            border-radius: 2px;
            transition: background-color 0.3s ease;
        }

            .nested1 li:hover, .nested2 li:hover {
                background-color: #cccbcba9;
            }

        .nested1 a, .nested2 a {
            width: 100%;
            color: #494949;
            transform: 0.5 ease;
            font-size: 16px;
            padding: 16px;
            transition: background-color 0.3s ease;
        }

    .header-container ul {
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 5;
        right: 0;
        padding: 12px 30px;
        flex-direction: row;
        width: 78%;
        height: 50px;
        margin: 0px 0px 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        right: 15px;
    }

    .nested1, .nested2 {
        display: none;
    }

    .profile {
        color: var(--accent-color);
        font-weight: 600;
    }

    .profile {
        padding: 15px 30px;
        border-radius: 2px;
        font-size: 15px;
        width: 100%;
        border-top: 1px solid #4444441f;
    }

        .profile i {
            color: var(--green);
            margin-right: 10px;
            font-size: 18px;
        }

    .logo {
        font-size: 15px;
        color: var(--green);
    }

        .logo i {
            font-size: 25px;
            margin-right: 8px;
            margin-bottom: -2px;
        }

    .title {
        padding: 10px 2px 10px;
        font-weight: 600;
    }

    .logout {
        text-decoration: none;
        border: none;
        background-color: transparent;
        padding: 0 5px;
        color: #494949;
        /*border: 1px solid #006cf8;*/
        cursor: pointer;
        font-size: 19px;
        font-weight: 600;
        border-radius: 5px;
        transition: color 0.5s ease;
    }

        .logout:hover {
            background-color: #b170e6;
            color: #fff;
        }

    .content {
        position: relative;
        z-index: 1;
        top: -20px;
        width: 70%;
        padding: 20px;
        margin: 100px 30px 30px 100px;
    }

        .content .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-left: 215px;
        }

            .content .container .header {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
                margin-bottom: 0px;
            }

        .content .video {
            padding: 0 10px;
            width: calc(100% - 20px);
            margin: auto;
            margin-top: -16px;
            margin-bottom: 15px;
            border-radius: 10px 0;
            border: 2px solid var(--green);
            height: 400px;
        }

    .video video {
        border-radius: 7px 0 0 0;
    }

    .video video {
        border-radius: 7px 0 0 0;
    }
        .content .description {
            width: 90%;
            color: #444444;
            font-size: 15px;
            padding: 5px;
            font-weight: 100;
            margin: auto;
        }

        .content .move {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            position: fixed;
            width: 75%;
            right: 33px;
            top: 550px;
            margin: auto;
        }

        .content button {
            padding: 10px 15px;
            background-color: transparent;
            border: 1px solid var(--button-bg-color);
            border-radius: 50px;
            width: 100px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 540;
            color: var(--button-bg-color);
            transition: background-color 0.3s ease;
        }

    .move button:hover {
        color: white;
        background-color: var(--button-bg-color);
        font-weight: 600;
    }

    .content .header button {
        color: var(--accent-color);
        border: 2px solid var(--green);
        font-weight: 600;
        border-radius: 10px 0 0 0;
        top: 16px;
        transition: background-color 0.5s ease;
    }

        .content .header button:hover {
            color: white;
            background-color: var(--green);
            font-weight: 600;
            border-top-right-radius: 10px;
        }

    .prev i, .next i {
        font-size: 35px;
        margin: 0 10px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .prev {
        color: rgb(141, 141, 141);
    }

    .next {
        color: var(--button-hover-bg-color);
    }

    .active-chapter i {
        color: var(--green);
    }

    .active-module {
        border-left: 2px solid var(--button-bg-color);
        background-color: #d8d8d888;
    }

    .card {
        height: 82%;
        width: 37%;
        margin: 20px;
        position: relative;
        top: 10%;
        right: 20%;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
    }

        .card .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-radius: 12px;
        }

    .mainiature {
        width: 100%;
        height: 80%;
        margin-bottom: -160px;
    }

        .mainiature img {
            width: 100%;
            border-radius: 12px 12px 0 0;
        }

    .card .description {
        position: relative;
        top: -20px;
        margin: -80px 10px 0;
        height: 42%;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

        .card .description p, .enrolled {
            font-size: 15px;
            color: #333333;
            font-weight: 300;
            margin-bottom: 16px;
        }

    .card .our-title {
        font-size: 13px;
        color: gray;
    }

    .enrolled {
        font-weight: 500;
    }

    .card .footer {
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-top: 10px;
    }

    .free {
        padding: 2px 15px;
        border: 1px solid #c5edff;
        color: #08b2dd;
        background-color: #c5edff;
        border-radius: 60px;
        letter-spacing: 1px;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.08);
    }

    .Enroll {
        padding: 2px 15px;
        width: 100px;
        text-align: center;
        color: #fff;
        border: 1px solid #333333;
        border-radius: 30px;
        cursor: pointer;
        letter-spacing: 1px;
        background-color: #333333;
        transition: background-color 0.5s ease;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.08);
    }

        .Enroll:hover {
            background-color: #444444;
        }

    .checked {
        margin-left: 80px;
        color: #06c072;
    }

    .checked-module {
        margin-left: 10px;
    }

    .nested1 {
        display: block;
    }
</style>
<body>
    <div class="container">
        <div class="side-bar">
            <div class="navigation">
                <div class="header">
                    <h3><i class="fa-solid fa-list"></i> Course Chapters</h3>
                </div>

                <ul class="nav">
                    <li class="chapter">
                        <a asp-page="/Course/Introduction">Introduction</a>
                        @if (Model.user_progress.introduction){
                           
                            
                            <span class="checked"><i class="fa-solid fa-check"></i></span>
                        }
                        </li>
                    <li>
                        <div class="chapter">
                            <a href="#" onclick="showModules(event, 'sublist1')">
                                <i class="fa-solid fa-chevron-right"></i> Chapter 1
                            </a>
                            @if (Model.user_progress.module1 && Model.user_progress.module2 && Model.user_progress.module3)
                            {
                                <span class="checked"><i class="fa-solid fa-circle-check"></i></span>
                            }
                        </div>
                        <ul class="nested1" id="sublist1">
                                    <li>
                                        @if(Model.user_progress.module1)
                                        {


                                    <span class="checked-module"><i class="fa-solid fa-check"></i></span>
                                }<a asp-page="/Course/Chapter1Module1">Module 1</a>
                            </li>
                                        <li>
                                            @if (Model.user_progress.module2)
                                {


                                    <span class="checked-module"><i class="fa-solid fa-check"></i></span>
                                        }<a asp-page="/Course/Chapter1Module2">Module 2</a>
                            </li>
                                <li class="active-module">
                                    @if (Model.user_progress.module3)
                                {

                                    <span class="checked-module"><i class="fa-solid fa-check"></i></span>
                                }<a asp-page="/Course/Chapter1Module3">Module 3</a>

                                
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div class="chapter">
                            <a href="#" onclick="showModules(event, 'sublist2')">
                                <i class="fa-solid fa-chevron-right"></i> Chapter 2
                            </a>
                            @if (Model.user_progress.module4 && Model.user_progress.module5 && Model.user_progress.module6)
                            {
                                <span class="checked"><i class="fa-solid fa-circle-check"></i></span>
                            }
                        </div>
                        <ul class="nested2" id="sublist2">
                                <li>
                                    @if (Model.user_progress.module4)
                                    {


                                    <span class="checked-module"><i class="fa-solid fa-check"></i></span>
                                }<a asp-page="/Course/Chapter2Module1">Module 1</a>
                                    
                            </li>
                                    <li>
                                        @if (Model.user_progress.module5)
                                {

                                    <span class="checked-module"><i class="fa-solid fa-check"></i></span>
                                }<a asp-page="/Course/Chapter2Module2">Module 2</a>

                                
                            </li>
                                <li>
                                    @if (Model.user_progress.module6)
                                {


                                    <span class="checked-module"><i class="fa-solid fa-check"></i></span>
                                }<a asp-page="/Course/Chapter2Module3">Module 3</a>
                                
                            </li>
                        </ul>
                    </li>
                    <li class="chapter"><a asp-page="/Course/Conclusion">Conclusion</a>
                            @if (Model.user_progress.conclusion)
                        {

                            <span class="checked"><i class="fa-solid fa-circle-check"></i></span>
                        }
                        </li>
                    <li class="chapter">
                        <a asp-page="/Course/Test">
                            <i class="fa-solid fa-gear"></i>
                            Test
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profile">
                <div class="user">
                        <i class="fa-solid fa-user"></i> @Model.user.UserName
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header-container">
                <ul>
                    <li class="logo"><i class="fa-brands fa-slack"></i><span class="title">E-Learn</span></li>
                    <li><button class="logout" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="header">
                    <div class="title">
                        <h2>Title Title</h2>
                        @if (Model.error != "")
                        {
                            <strong>@Model.error</strong>
                        }
                    </div>
                    <div class="done">
                        <form method="post">
                            <button type="submit" name="action" value="done">Done</button>
                        </form>
                    </div>
                </div>
                <video width="100%" height="400" controls>
                    <source src="/Images/mod3.mp4" type="video/mp4">

                </video>
                <div class="description">
                    <p>
                        Let's look at the Benifits of Using ISO API Interfaces in C# and .Net </br>
                        1-Easier to Maintain and Expand :
                        Using interfaces keeps your code organized, making it easier to fix issues and add new features.'
                        Example: If you want to add a new payment option to your app (like Google Pay), interfaces let you plug it in without changing your whole code.
                        </br>
                        2-Smouther Integration:
                        Interfaces help your app connect easily to other systems, like services or tools.
                        Example: If you’re building a travel app and need to link it to a hotel booking system, an interface makes sure they work together without issues.
                        </br>
                        3-Follows Industry Standars :
                        ISO standards ensure your APIs are reliable, secure, and ready for future changes.
                    </p>
                </div>
                <div class="move">
                    <a class="prev" asp-page="/Course/Chapter1Module2"><i class="fa-solid fa-circle-chevron-left"></i></a>
                    <a class="next" asp-page="/Course/Chapter2Module1"><i class="fa-solid fa-circle-chevron-right"></i></a>
                </div>
            </div>

        </div>
    </div>
    <script>
        function showModules(event, sublistId) {
            event.preventDefault();

            var x = document.getElementById(sublistId);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

</body>
</html>
s